# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Luca\Desktop\Unisa\Magistrale\AutonomousVehicleDriving\CarlaSimulator\PythonClient\AVD_base_detector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
